.vscode
private_dot_config/polybar/polybar-calendar/dot_git/logs
private_dot_config/polybar/polybar-calendar/dot_git/objects
private_dot_config/polybar/polybar-calendar/dot_git/refs
private_dot_config/polybar/polybar-calendar/dot_git
